/* bg black, for the time bar */
g#chains > g.c-bar > rect {
    fill: #333;
}
g#chains > g.c-bar > text {
    fill: #ddd;
}

/* bg dark red */
g#chains > g.c-0 > rect {
    fill: #d70019;
}
g#chains > g.c-0 > text {
    fill: #fbd3d8;
}

/* bg dark orange */
g#chains > g.c-1 > rect {
    fill: #e18b00;
}
g#chains > g.c-1 > text {
    fill: #fff0d7;
}

/* bg dark blue */
g#chains > g.c-2 > rect {
    fill: #064493;
}
g#chains > g.c-2 > text {
    fill: #bccadb;
}

/* bg dark green */
g#chains > g.c-3 > rect {
    fill: #27bd00;
}
g#chains > g.c-3 > text {
    fill: #d1efc9;
}

/* bg light red */
g#chains > g.c-4 > rect {
    fill: #f6485d;
}
g#chains > g.c-4 > text {
    fill: #750019;
}

/* bg light orange */
g#chains > g.c-5 > rect {
    fill: #ffba4b;
}
g#chains > g.c-5 > text {
    fill: #e14000;
}

/* bg light blue */
g#chains > g.c-6 > rect {
    fill: #779ac7;
}
g#chains > g.c-6 > text {
    fill: #064493;
}

/* bg light green */
g#chains > g.c-7 > rect {
    fill: #95e580;
}
g#chains > g.c-7 > text {
    fill: #007a00;
}



/* bg greenbluish */
g#chains > g.c-8 > rect {
    fill: #00a29c;
}
g#chains > g.c-8 > text {
    fill: #b7e4e3;
}
