pre.source-line {
    background-color: inherit;
    color: #333;
    padding: 0px 4px;
    display: block;
    border: none;
    margin: 0px 0px 4px 0px;
    line-height: 1;
}
table.table-squashed > tbody > tr > td {
    line-height: 0.9;
    border-top-style: dotted;
    white-space: nowrap;
}
table.table-squashed > tbody > tr > td:not(:last-of-type),
table.table-squashed > thead > tr > th:not(:last-of-type) {
    border-right: 1px dotted #ddd;
}

/* sharper colors for severity indicators */
table.table-squashed > tbody > tr > td.danger {
    background-color: #f23b56;
    color: #efefef;
    font-weight: bold;
}
table.table-squashed > tbody > tr:hover > td.danger {
    background-color: #e8324b;
    color: #efefef;
    font-weight: bold;
}

table.table-squashed > tbody > tr > td.warning {
    background-color: #fca35d;
    color: #c52722;
    font-weight: bold;
}
table.table-squashed > tbody > tr:hover > td.warning {
    background-color: #f39a52;
    color: #c52722;
    font-weight: bold;
}

table.table-squashed > tbody > tr > td.info {
    background-color: #effd78;
}
table.table-squashed > tbody > tr:hover > td.info {
    background-color: #e8f671;
}

table.table-squashed > tbody > tr > td.success {
    background-color: #3fef90;
}
table.table-squashed > tbody > tr:hover > td.success {
    background-color: #38e887;
}
/* ---- */
table.subroutine-list > tbody > tr > td:not(:last-child) {
    padding-left: 15px;
    padding-right: 10px;
}
table.subroutine-list > tbody > tr > td:last-child {
    width: 100%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 95%;
    padding-left: 0px;
}
table.subroutine-list > tbody > tr > td:last-child > span {
    color: #888;
}
table.subroutine-list > tbody > tr > td:nth-last-child(2) {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 95%;
    color: #888;
    padding-right: 0px;
    border-right-width: 0px;
}

table.file-list > tbody > tr > td:not(:last-child) {
    padding-left: 15px;
    padding-right: 10px;
}
table.file-list > tbody > tr > td:last-child {
    width: 100%;
}

table.source-list > tbody > tr > td > a {
    width: 100%;
    height: 100%;
    display: block;
    color: inherit;
}


code.devel-comment {
    color: #888;
    display: block;
}
table.devel-comment {
    margin-left: 6px;
}
table.devel-comment + code {
    margin-top: 6px;
}
code + table.devel-comment {
    margin-top: 6px;
}
table.devel-comment td {
    color: #888;
    font-size: 95%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    white-space: nowrap;
}
table.devel-comment tr:not(:last-of-type) td {
    padding-bottom: 2px;
}
table.devel-comment td a {
    color: #888;
    display: block;
    padding-right: 8px;
    width: 100%;
    height: 100%;
}
table.devel-comment tr:hover * {
    color: #444;
    background-color: none;
    text-decoration: none;
}
table.devel-comment tr:hover {
    background-color: #dedede;
}