g#chains > g > rect {
    stroke: 0.5;
    color: #eee;
    border-right-color: #000;
    border-right-width: 1;
}
g#chains > g > text {
    font-family: 'courier new';
    font-size: 12px;
}
g#chains > g:hover * {
    cursor: pointer;
}
g#chains > g:hover rect {
    stroke: #444;
    stroke-width: 0.75;
}
g#chains > g:hover:not(.zoomed) {
    /* opacity: 0.7;*/
}
g#chains > g line:first-of-type {
    stroke: #fff;
    stroke-width: 0.2;
}
g#chains > g.zoom-unwanted {
    display: none;
}
g#chains > g.zoom-too-thin {
    display: none;
}
#search-results > rect.search-highlighter {
    fill: #eaeaea;
}
#search-results > rect.search-highlighter-unwanted {
    fill: #fff;
}
